.next-prev-btn {
  @apply rounded-md py-1 px-2 my-1 mx-1 min-w-6;
}
.pg-btn {
  @apply rounded-md py-1 px-1 my-1 mx-1 min-w-6 text-center focus:bg-transparent focus:border focus:border-blue-400 focus:text-blue-500 focus:dark:text-white;
}
.pg-active-btn {
  @apply bg-transparent border border-blue-400 text-blue-500 dark:text-white;
}
.pg-active-btn-color {
  @apply bg-blue-500 text-white;
}
.hover-btn:hover {
  @apply bg-blue-400;
}
.span {
  @apply text-blue-600;
}
.pg-wrapper {
  @apply flex justify-end items-center w-full flex-wrap;
}

.pagination-container {
  @apply flex space-x-4 list-none justify-end;
}

.pagination-item {
  @apply px-4 py-2 text-center cursor-pointer rounded-full;
  /* 
  &.dots {
    @apply bg-transparent cursor-default px-4 py-2;
  } */
  &:hover:not(.disabled) {
    @apply bg-gray-100;
  }

  &.selected {
    @apply bg-gray-200;
  }

  &.disabled {
    @apply cursor-default opacity-50 pointer-events-none;
  }
}
.dots {
  @apply bg-transparent cursor-default px-4 py-2;
}

.arrow::before {
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
/* .arrow::before {
  @apply content-[''] inline-block w-2 h-2 border border-r-gray-700 border-t-gray-700;
} */
.left {
  transform: rotate(-135deg) translate(-50%);
}

.right {
  transform: rotate(45deg);
}
